body {
    background-image: url("res/background.png");
    overflow: hidden;
}

.messages {
    background-color: #111D5E;
    border: none;
    box-shadow: 5px 5px 15px #00000063;
    height: 75vh;
    width:  inherit;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    padding-left: 10px;
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column-reverse;
    border-bottom-left-radius: 10px;
}

.usertext {
    background-color: #C70039;
    color: white;
    text-align: center;
    border: none;
    box-shadow: 5px 5px 15px #00000063;
    border-radius: 10px;
    height: fit-content;
    width: fit-content;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    float: right;
    clear: both;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.bottext {
    background-color: #C70039;
    color: white;
    text-align: left;
    border: none;
    box-shadow: 5px 5px 15px #00000063;
    border-radius: 10px;
    height: fit-content;
    width: fit-content;
    max-width: 40%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
    clear: both;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.timeuser {
    font-size: x-small;
    text-align: right;
    opacity: 60%;
    margin-top: 2px;
}

.timebot {
    font-size: x-small;
    text-align: left;
    opacity: 60%;
    margin-top: 2px;
}

.textbox {
    background-color: #111D5E;
    color: white;
    border: none;
    box-shadow: 5px 5px 15px #00000063;
    width: 40%;
    height: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

.textbox:focus {
    outline: none;
}

.profile {
    color: #111D5E;
    border: none;
    background-color: #C70039;
    width: inherit;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    padding-left: 10px;
    text-align: left;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    vertical-align:text-top;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.pic {
    border: none;
    border-radius: 25px;
    float: left;
    margin-top: 6px;
    margin-left: 6px;
}

.button {
    height: 50px;
    width: 50px;
    position: relative;
    top: 3px;
    background-color: #111D5E;
    border: none;
    border-radius: 5px;
}

hr {
    border: none;
}

.indicator {
    background-color: #e6e7ed;
    will-change: transform;
    text-align: center;
    border: none;
    border-radius: 40px;
    height: fit-content;
    width: fit-content;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
    clear: both;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    animation: 2s bulge infinite ease-out;
}

.dot-1 {
    height: 12px;
    width: 12px;
    float: left;
    margin: 0 1px;
    background-color: #9e9ea1;
    display: block;
    border-radius: 50%;
    opacity: 0.4;
    animation: 0.9s blink infinite ease-in-out;
}

.dot-2 {
    height: 12px;
    width: 12px;
    float: left;
    margin: 0 1px;
    background-color: #9E9EA1;
    display: block;
    border-radius: 50%;
    opacity: 0.4;
    animation: 0.9s blink infinite ease-in-out;
    animation-delay: 0.3s;
}

.dot-3 {
    height: 12px;
    width: 12px;
    float: left;
    margin: 0 1px;
    background-color: #9E9EA1;
    display: block;
    border-radius: 50%;
    opacity: 0.4;
    animation: 0.9s blink infinite ease-in-out;
    animation-delay: 0.6s;
}
  
@keyframes blink {
    50% {
      opacity: 1;
    }
}
  
@keyframes bulge {
    50% {
      transform: scale(1.05);
    }
}